.toast-container{
    background: rgb(202, 76, 97);
}

.icone{
    width: 20px;
    height: 20px;
}

.dia{
    width: 400px;
    height: 200px;
}

.alertDanger{

    color: white!important;
    background-color: red !important;
    
}

.alert-md .alert-button-group {
   
    padding: 8px 21px 8px 8px !important;
}

